<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQtEh2_r8jpUnZN83S3CRuFRXzdJhHBpA</string>
	<key>GCM_SENDER_ID</key>
	<string>229866498296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.pickngorestaurantapp</string>
	<key>PROJECT_ID</key>
	<string>pickngo-58375</string>
	<key>STORAGE_BUCKET</key>
	<string>pickngo-58375.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229866498296:ios:3982536ce85218b93c330d</string>
</dict>
</plist>